@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
    /* COLORS */
    --darkBlue: hsl(240, 38%, 20%);
    --grayBlue:hsl(240,18%,77%);
    /* TYPOGRAPHY */
    --fontSize:2rem;
    --fontFamily:'Inter', sans-serif;
    /* FONT WEIGHT */
    --small:300;
    --medium:500;
    --large:700;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MOBILE FIRST */
body{
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    width: 100%;
    max-height: 100vh;
    background-image: url(images/pattern-curve.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
}
img{
    width: 100%;
    
}
button{
    text-align: center;
    border: none;
    background-color: white;
    color: var(--darkBlue);
    width: 0.5rem;
   margin-top: 0.2rem;
   cursor:pointer;
 
    
}

/* QUOTES  */
.info-container{
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 4rem;
    padding: 1rem;
    text-align: center;
    /* width: 330px; */
  
}
/* ARROW CONTAINER */
.arrow-container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: 2rem;
    background-color: #fff;
    width: 4rem;
    margin: 0 auto;
    position: relative;
    bottom: 1.5rem;
   
   

}
/* CARD PHOTO */
.woman{
    margin: 0 auto;
    width: 14rem;
    height: 14rem;
    box-shadow: -7px 34px 45px -22px rgba(161,151,209,1);
    border-radius: 5px;

   
    
}
/* INFO-TEXT */

.info-text{
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--darkBlue);
   line-height: 1.5rem;
   font-weight: var(--small);
   
  
}
/* NAME */
.name{
    font-weight: var(--large);
    color: var(--darkBlue);
    
}
/* JOB TITLE */
.job-title{
    position: relative;
    top: 0.5rem;
   font-weight: var(--medium);
    color: var(--grayBlue);
}
/* BACKGROUND-PATTERN */
.container{
    height: 100vh;
     /* display: grid;
     place-items: center;
    justify-content: center;
    align-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
   
   
 }
@media only screen and (min-width:320px) and (max-width: 768px){

/* BACKGROUND PATTERN */
.inner-bg{
    background-image: url(images/pattern-bg.svg);
    background-position: center;
    background-size: 19rem;
    background-repeat: no-repeat;
    height: 22rem;
    margin-bottom: 0.4rem;
    width: 100%;
}

.firstCard{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top:4rem;
   
  
}


/* PEOPLE INFO */
.people-info{
    /* background-image: url(images/pattern-curve.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 10rem; */
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  
  
    
}


}

 @media only screen and (min-width:769px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 2rem;
        height: 100vh;
        justify-content: center;
        align-items: center;
        place-items: center;
       max-width:1440px;
        margin: 0 auto;
       overflow: hidden;
       /* gap: 5rem; */
       
     
    }
 
    .inner-bg{
        background-image: url(images/pattern-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30rem;
        height: 30rem;
        order: 2;
        width: 40rem;
      
    
        
      
    }
    .woman{
        width: 27rem;
        height:27rem;
        /* display: none; */
    }
  .quotes{
      order:1;
  }
  .arrow-container{
      right: 9rem;
  }

  .info-container{
      z-index: 1;
      text-align: start;
    
      
  }

  .people-info{
      background-size: 10rem;
      background-position: left bottom;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      position: relative;
      
      
  }
  .job-title{
     margin-bottom: 0.7rem;
  }
  .info-container{
      
      /* width: 370px; */
     position: relative;
     left:5rem ;
    padding: 2rem;
  }
  .info-text{
      line-height:2rem;
      text-align: start;
      
     font-weight: var(--small);
     font-size: 26px;
     padding: 1rem;
     position: relative;
     left: 3rem;
     top: 0.5rem;
  }
 }